/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * MrJackPocket implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * mrjackpocket.css
 *
 * MrJackPocket stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (mrjackpocket_mrjackpocket.tpl), and to HTML elements you create dynamically
    (in mrjackpocket.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

#container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "options round round round round round goal"
        "options board board board board board goal"
        "options board board board board board alibi"
        "options board board board board board alibi"
        "options board board board board board dAlibi"
        "options board board board board board dAlibi";
}

#available-options {
    grid-area: options;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.available-option {
    /* width: 60px;
    height: 90px; */
    cursor: pointer;
}

.next-option {
    /* width: 20px;
    height: 20px; */
    margin-left: 10px;
}

#round-info {
    grid-area: round;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.round {
    /* width: 40px;
    height: 40px; */
}

#goal-info {
    grid-area: goal;
}

#board {
    grid-area: board;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

#alibi-deck {
    grid-area: alibi;
}

.tale {
    border: 1px solid black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100px;
    width: 100px;
}

.option-was-used {
    color: gray;
    border: 5px dotted gray;
    cursor: default;
}

.next-option-disable {
    visibility: hidden;
}

.tale-to-choose {
    box-shadow: 3px 3px red, -1em 0 .4em olive;
    cursor: pointer;
}

.current-round {
    box-shadow: 3px 3px red, -1em 0 .4em olive;
}

.character-field {

}

.detective-field {
    border: 0px;
    background: wheat;
}

.is-visible-tale {
    box-shadow: 3px 3px red, -1em 0 .4em olive;
}

#clockwise {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 1;
}

#counter-clockwise {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 1;
}

#rotate-approve {
    position: absolute;
    bottom: 10px;
    left: auto;
    right: auto;
    cursor: pointer;
    z-index: 1;
}

.rotate-approve-disable {
    color: gray;
    cursor: default;
}

#detective-alibi {
    grid-area: dAlibi;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

